body {
  background-color: #EAF6F6;
}
h1{
  color:#16697a;
}
h3{
  color:#16697a;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 10%;
}

.image_avatar {
  width: 150px;
  height: 200px;
}
